@import "@/assets/style/1-settings/color.scss";

.c-movieContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.c-movieDetailContainer{
    width: 100%;
}

.c-movieItem{
    width: 100%;
}

@media screen and (min-width: 666px) {
    .c-movieItem{
        width: 49%;
    }

    .c-movieDetailContainer{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .c-movieContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1200px) {
    .c-movieItem{
        width: 23%;
        margin-bottom: 2rem;
    }
    .c-movieDetailContainer{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .c-movieContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}