html,
body {
    font: 12px / 1.5 Montserrat, sans-serif;

    background: $bg;
    color: $fc;
    
    padding: 0;   
    min-height: 100vh;
}

h1{
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1rem 0;
}

h2{
    font-size: 1.2rem;
    font-weight: 300;
}

h3{
    font-size: 1rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1.2rem;
    color: $grey;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 0.5em;
}
a{
    text-decoration: none;
}
input {
    width: 100%;
    padding: 1rem 1.5rem;
    margin: 8px 0;
    box-sizing: border-box;
    border:1px solid $bg;
    background-color: $bg-alt;
    color: $grey;
}

input:focus {
    outline: none !important;
    border:1px solid $grey;
    box-shadow: 0 0 10px $bg-alt;
}


th{
    text-align: start;
}