.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.column-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-grow: 3;
  }

  .column-right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex: 1;
  }

.column-right--style {
    padding-left: 2rem;
    padding-right: 2rem;
  background-color: #f1fff5;
  height: 100vh;
  width: auto;
}

.column-left--style {
    padding-left: 4rem;
    padding-right: 4rem;
  background-color: white;
  width: auto;
}
