@import "@/assets/style/1-settings/color.scss";

.o-container {
    max-width: 1200px;
    margin: 0 auto;
}

.o-menu-item-container{
    border-bottom: 1px solid $bg-alt;
}

.o-top-nav-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 0;
}

@media screen and (min-width: 666px) {
    .o-top-nav-container{
        width: 50%;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (min-width: 1200px) {
    .o-top-nav-container{
        width: 30%;
        margin-right: auto;
        margin-left: auto;
    }
}