.o-flex{
    display: flex;
    width: 100%;
}

.o-flex--space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.o-flex--space-around{
    display: flex;
    justify-content: space-around;
    text-align: start;
}

.o-flex--row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.o-flex--center{
    display:flex;
    align-items: center;
}

.o-flex--justify-center{
    display: flex;
    justify-content: center;
}

.o-flex--wrap{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}

.o-flex--column{
    display: flex;
    flex-direction: column;
}