.o-flex{
    display: flex;
    width: 100%;
}

.o-flex--space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.o-flex--center{
    display:flex;
    align-items: center;
}

.o-flex--justify-center{
    display: flex;
    justify-content: center;
}